*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
    font-family:"PMingLiu";
    background-color:white;
    max-width:900px;
	min-width:660px;
	margin: 0 auto;
  font-size:15px;
    
}
.header{
    display:absolute;
    float:left;
}
h2{
  display: block;
  font-size:1em;
}
h3{
  display: inline;
  font-size:0.8em;
    
}
.section{
/* flex-wrap:wrap; */
margin-left:50%;
}
span{
 font-size:30px; 
 font-style:none;
 color:blue;
}
#榮耀經典-向導演學習{
 display:block;
  width:50%;
  margin-right:20px;
  margin-bottom:0px;
  float:left;
  text-indent:0.5em;
}
#影展總覽{
  float:right;
  /* top:10%; */
}
section>img{
 opacity:1; 
}
section>img>hover{
opacity:0.4;
}
#戀戀風塵{
  display:inline-block;
  float:left;
  width:25%;
  
  margin-bottom:10px;
  padding:10px;
  background-color:#E5E1DE;
}
#恐怖份子{
  display:inline-block;
  
  width:25%;
  padding:10px;
  margin-bottom:10px;
  background-color:#E5E1DE;
}
#喜宴{
  display:inline-block;
 
  width:25%;
/*   margin-left:500px; */
  margin-bottom:10px;
  padding:10px;
  background-color:#E5E1DE;
}
#愛情萬歲{
  display:inline-block;
  
  width:25%;
  margin-bottom:10px;
  padding:10px;
  background-color:#E5E1DE;
}
#我們這樣拍電影{
  display:inline-block;
  width:25%;
/*   margin-left:500px; */
  margin-bottom:10px;
/*   margin: auto 10px auto auto;  */
  padding:10px;
  background-color:#E5E1DE;
}
#注意事項{
   display:block;
  width:50%;
  clear:left;
  float:left;
  background-color:#E5E1DE;
  padding-right:5px;
  
}
#注意事項2{

  display:inline-block;
  
  width:50%;
  background-color:#E5E1DE;
  
}
footer{

display:block;
  margin-bottom:10px;
  margin-left:10px;
}