*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
    font-family:"PMingLiu";
    background-color:white;
    max-width:900px;
	min-width:660px;
	margin: 0 auto;
  font-size:15px;
    
}
.header{
    display:absolute;
    float:left;
}
h2{
  display: block;
  font-size:1em;
}
h3{
  display: inline;
  font-size:0.8em;
    
}
p{
border-bottom-style:solid;
  border-bottom-color:green;
}
a:link{
 color:green;
  text-decoration:none;
}
a:hover{
color:blue;  
}

a:visited{
color:red;
}
/* 影片總覽{
flex-wrap:wrap; 
margin-left:25%;
list-style: none;
 
  /* -ms-box-orient: horizontal; */
/*   display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  float:right;
  background-color:#E5E1DE; */
  
} */
span{
 font-size:30px; 
 font-style:none;
 color:blue;
}
#榮耀經典-向導演學習{
 display:block;
  width:50%;
  margin-right:20px;
  margin-bottom:50px;
  float:left;
  text-indent:0.5em;
  line-height:1.5em;
}
section>img{
 opacity:1; 
}
section>img>hover{
opacity:0.4;
}
#戀戀風塵{
  display:inline-block;
  float:left;
  width:23%;
  line-height:1em;
  margin-bottom:10px;
  padding:10px;
  background-color:#E5E1DE;
}
#戀戀風塵:hover{
opacity:0.8;
}
#恐怖份子{
  display:inline-block;
  line-height:1em;
  width:23%;
  padding:10px;
  float:right;
  margin-bottom:10px;
  background-color:#E5E1DE;
}
#恐怖份子:hover{
opacity:0.8;
}
#喜宴{
  display:inline-block;
 line-height:1em;
  width:23%;
  margin-bottom:10px;
  padding:10px;
  background-color:#E5E1DE;
}
#喜宴:hover{
opacity:0.8;
}
#愛情萬歲{
  display:inline-block;
  line-height:1em;
  width:23%;
  margin-bottom:10px;
  padding:10px;
  float:right;
  background-color:#E5E1DE;
}
#愛情萬歲:hover{
opacity:0.8;
}
#我們這樣拍電影{
  display:inline-block;
  width:23%;
  margin-left:53%;
  margin-bottom:10px;
  padding:10px;
  background-color:#E5E1DE;
  line-height:1em;
  margin-top:5px;
}
#我們這樣拍電影:hover{
opacity:0.8;
}
#注意事項{
  visibility:hidden;
/*    display:inline-block;
  width:50%;
  clear:left;
  float:left;
  background-color:#E5E1DE;
  padding-right:5px; */
  
}
#注意事項2{
  visibility:hidden;
/*   display:inline-block;
  
  width:50%;
  background-color:#E5E1DE; */
  
}
.address{
display:inline-block;
float:inline-start;
 margin-bottom:10px;

}
footer{
 position:relative;
/*  display:inline-block;  */
  box-sizing: border-box;
   bottom:0;
  
} 

.bar{
  display:inline-block;
  padding: 0;
  list-style: none;  
/*   flex-direction:colum; */
/*   bottom:10px; */
}
.nccu{
  display:block;
/*  font-size:0.8em; */
  flex:none;
}

.flex-items{
 display:block;
float:right;
  font-size:0.8em;
/* width:70px; */
margin:3px;
line-height:20px;
}

